@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  margin-top: 5.5em;
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /* -webkit-tap-highlight-color: transparent; */
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/


.header-div{
  height: 3.5em;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #eee6d3;
  background-image: linear-gradient(to right top, #664229, #7a563a, #8e6b4b, #a2805e, #b69671, #b69671, #b69671, #b69671, #a2805e, #8e6b4b, #7a563a, #664229);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

.navi {
  height: var(--header-height);
  /* background-color: red; */
  /* width: 100%; */
}

.header .container {
  max-width: 90%; 
  /* margin-inline: 1.5rem; */
  /* width: 100%; */
  /* text-align: center; */

}


.nav__logo,
.nav__burger,
.nav__close {
  color: #882424;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: turquoise; */
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-semi-bold);
  /* background-color: yellow; */
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
  /* background-color: green; */
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: hsl(27.27deg 38.36% 45.87%);
    padding-top: 1rem;
  }
  .nav__menu ul li{
    margin: 0px !important;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .navi {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  
}

.nav__menu ul li {
  /* font-family: "Noto ", sans-serif; */
  margin: 1.875em 0px;
}
.nav__menu ul li a {
  background-color: #eee6d3;
  background-image: linear-gradient(to right top, #b88566, #ac815a, #9e7e4f, #907a45, #80773e, #837d45, #87834c, #8a8953, #a29b69, #b9ad81, #cfc09a, #e5d3b3);
  background: transparent;
  color: black;
  transition: color 0.7s;
  font-size: 1.2em;
}
.nav__menu ul li a:hover {
  background-color: #cabb99;
  background: transparent;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  */
  transform: scale(1.15);
}

/*trial underline animation(works with a problem, try if you can solve that)*/


/* .nav__menu ul li a::after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav__menu ul li a:hover::after{
  display: inline-block;
  width: 100%; 
  left: 0; 
} */


.nav__data a img {
  width: 100%;
  border-radius: 60px;
  cursor: pointer;
}
.mudberry_logo {
  width: 10.125em;
  height: 100%;
  /* border: 1px solid black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */
}
.nav__logo {
  height: 80%;
}

.mudberry_logo:hover {
  transform: scale(1.01) ; 
}


/* .nav__menu{
  height: 100%;
} */