@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
  
}

body {
    margin: 0;
    padding: 0;
    background-color:white;
    font-size: 16px;
    color: #312018;
}


.activity {
    width: 100%;
    position: relative;
    background-color: white;
    
}
.firsttbox{
background: url(photos/act3.jpg) center/ cover;
}

.firstconatainer {
    width: 100%;

}

.firsttitle {
    width: 100%;
    position: relative;
    display: flex;
    height: 65vh;
}

.firsttitle::before {
    content: '';
    position: absolute;
    top: 4%;
    left: 2%;
    right: 2%;
    bottom: 0;
    border: 15px solid rgb(255, 255, 255);
    border-bottom: none;
    z-index: 1;
    /* Set a high z-index to ensure it's on top of other elements */
    box-sizing: border-box;
}


.firsttitle2 {
    width: 100%;
    position: relative;
    display: flex;
    height: 65vh;
}

.firsttitle2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 2%;
    right: 2%;
    bottom: 0;
    border: 15px solid rgb(255, 255, 255);
    z-index: 1;
    border-bottom: none;
    border-top: none;
    /* Set a high z-index to ensure it's on top of other elements */
    box-sizing: border-box;
}


.lefttitle,
.righttitle {
    width: 50%;
}

.lefttitle {
    background-color: rgb(42, 51, 29);
}

.titletext {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 50vw;
    text-align: right;
    color: white;
    font-size: 25px;
}

.titletext2 {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 50vw;
    color: white;
    font-size: 25px;
}

.titletext2 {
    position: absolute;
    top: 35%;
    left: 45%;
    width: 50vw;
    color: white;
    font-size: 25px;
}

.titletext span,
.titletext2 span {
    font-size: 55px;
    font-weight: bold;
}

.righttitle img {
    height: 100%;
    width: 100%;
}

.fontstyling {
    color: #312018;
    /* Adjust the font size as needed */
}

h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}


.oneMonthCourse,
.privateCourse {
    width: 86%;
    height: max-content;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #cbb5a2e1;

    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-around;
    margin-top: 7vw;
    margin-bottom: 7vw;

    margin-left: 7%;
    margin-right: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px solid #000;
    /* 2px solid black border */
    box-shadow: rgb(0 0 0) 2px 2px 23px 2px;
    border-radius: 0.3vw;
    transition: transform 0.3s ease-in;
}
.oneMonthCourse:hover,
.privateCourse:hover{
    transform : translateY(-10px);
}


.oneMonthCourse, .privateCourse{
    position: relative;
}

.moredetails {
    margin-bottom: 0%;
    font-size: large;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    font-weight: 600;
}

.Coursedetails {
    width: 50%;
    box-sizing: border-box;
    font-size: 20px;
    justify-self: center;
    color: #4d322c;
}

.firstdetails {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    position: relative;
    border-radius: 10px;
    margin: 5%;
    margin-top: 7%;
    z-index: 2;
    color: #4d322c;
    width: 45%;
}

/* Add some styling to the contactus button */
.amount {
    margin: 1%;
    background-color: #ccc0b6ab;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
}

/* Add these styles to your existing CSS */

.timing {
    width: max-content;
    position: relative;
    padding: 3%;
    margin-left: 25%;
    margin-top: 6vh;
    z-index: 3;
    transition: transform 0.3s ease-in;
}

.buttonlast{
    margin-top: 6vh;
    padding: 1vh 2vw;
    background-color: transparent;
    font-size: 1.3vw;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 2;
    position: relative;
    font-weight: 600;
}

.buttonlast:hover{
    background:rgba(210, 159, 117, 0.671);
    color: white;
}
.buttonlast:hover::after{
    bottom: 0;
    border-radius: 0;
}

.buttonlast::after{
    content: "";
    width: 100%;
    height: 100%;
    background:#d1a37dab;
    position: absolute;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s ease;
}

.app {
    width: 45%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    position: relative;
    padding-top: 3%;
}


.slide {
    aspect-ratio: 9/16;
    height: 45vh;
    background-color: green;
    border-radius: 1em;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat';
    padding: 1em 2em;
    margin: 1em 0em;
    display: flex;
    align-items: end;
    background-image: url('photos/aaimg2.jpg');
    background-size: 120%;
    background-position: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}

.slide:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.slide:first-child {
    background-image: url('photos/aaimg3.jpg');
    background-color: blue;
}

.slide:nth-child(3) {
    background-image: url('photos/aaimg5.jpg');
}

.slide h1 {
    position: absolute;
    bottom: 1.75em;
    letter-spacing: 0.05em;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.carousel {
    position: relative;
}

.dot {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background-color: white;
    transition: width 150ms ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.carousel .dots {
    position: absolute;
    bottom: 3em;
    left: 2em;
    display: flex;
    gap: 0.5em;
}

.active {
    width: 2em;
}

.slide-vis {
    display: none;
}

.fade {
    animation: transform 200ms ease-in-out;
}

.bg-fade {
    animation: background-transform 200ms ease-in-out;
}

@keyframes background-transform {
    from {
        background-position: 60%;
    }

    to {
        background-position: 50%;
    }
}

.app2 {
    width: 45%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    position: relative;
    padding-top: 3%;
}

.slide2 {
    aspect-ratio: 9/16;
    height: 45vh;
    background-color: green;
    border-radius: 1em;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat';
    padding: 1em 2em;
    margin: 1em 0em;
    display: flex;
    align-items: end;
    background-image: url('photos/aaimg8.jpg');
    background-size: 120%;
    background-position: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}

.slide2:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.slide2:first-child {
    background-image: url('photos/aaimg9.jpg');
    background-color: blue;
}

.slide2:nth-child(3) {
    background-image: url('photos/aaimg7.jpg');
}

.slide2 h1 {
    position: absolute;
    bottom: 1.75em;
    letter-spacing: 0.05em;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.carousel2 {
    position: relative;
}

.dot2 {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background-color: white;
    transition: width 150ms ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.carousel2 .dots2 {
    position: absolute;
    bottom: 3em;
    left: 2em;
    display: flex;
    gap: 0.5em;
}

.active2 {
    width: 2em;
}

.slide-vis2 {
    display: none;
}

.fade2 {
    animation: transform2 200ms ease-in-out;
}

.bg-fade2 {
    animation: background-transform2 200ms ease-in-out;
}


.app-container {
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
   

    position: relative;
   background-image: linear-gradient(to bottom, #604223, #6c4e30, #785a3d, #84674b, #907459);
}


.img-nav {
    display: flex;
    height: 53vh;
    aspect-ratio: 16/9;
    gap: 1em;
    justify-content: center;

}

.tile {
    height: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80px;
    min-width: 80px;
    border-radius: 5em;
    background-color: #ebd8d3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.tile:hover {
    width: 100% !important;
    border-radius: 3em !important;
}


.tile p[spine] {
    display: block;
    position: absolute;
    z-index: auto;
    font-size: 18px;
    color: black;
    font-family: 'Montserrat';
    top: 5em;
    transform: rotateZ(-90deg);
    opacity: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
    width: max-content;
    padding-right: 100%;
}

.tile:hover p[spine] {
    opacity: 0;
    transform: translateY(50px) rotateZ(-90deg);
}

.tile .img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-size: 200%;
    background-size: cover;
    background-position: 50% 50%;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out, border-radius 0.4s ease-in-out, margin-bottom 0.4s ease-in-out;
    position: absolute;
    z-index: auto;
}

.tile:hover .img {
    width: 120%;
    height: 100%;
    border-radius: 0;
    margin-bottom: 0;
    background-size: cover;
}

.tile .content {
    position: relative;
    z-index: 10;
    color: white;
    opacity: 0;
    transform: translateX(50px);
    margin-bottom: 1em;
    font-family: 'Montserrat';
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.tile:hover .content {
    opacity: 1;
    transform: translateX(0);
    margin: 9%;
}

/* SET IMGs*/
.tile:nth-child(1) .img {
    background-image: url('photos/middle3.png');
}

.tile:nth-child(2) .img {
    background-image: url('photos/middle1.png');
}

.tile:nth-child(3) .img {
    background-image: url('photos/middle4.png');
}

.tile:nth-child(4) .img {
    background-image: url('photos/middle2.png');
}

.secondcontainer{
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;
}


@keyframes background-transform2 {
    from {
        background-position: 60%;
    }

    to {
        background-position: 50%;
    }
}
@media (max-width: 1225px){
    .firsttitle,
    .firsttitle2 {
        height: 40vh;
    }
    .firstdetails{
        justify-self: center;
        align-self: center;
    }
    .app-container{
        height: 40vh;
    }
    
    .img-nav {
        height: 30vh;
    }

    .tile {
        width: 7%;
        min-width: 7%;
    }

    .tile p[spine] {
        font-size: 20px;
    }

    .lasttext {
        padding-bottom: 8%;

    }

    .cd2 {
        margin-bottom: 5%;
    }

    .app2 {
        margin-bottom: 2%;
    }

    .tile:hover {
        width: 30% !important;
    }

    .tile .img {
        width: 30px;
        height: 30px;
        margin-bottom: 3px;
    }
    
    
}

@media (max-width: 768px) {

    .firsttitle,
    .firsttitle2 {
        height: 25vh;
    }

    .firsttitle::before,
    /* .app-container::before, */
    .firsttitle2::before {
        top: 5%;
        left: 3%;
        right: 3%;
        border: 7px solid rgb(255, 255, 255);
        border-bottom: none;
    }

    .firsttitle2::before {
        top: 0;
        border-top: none;
    }

    .titletext span,
    .titletext2 span {
        font-size: 15px;
    }

    .titletext,
    .titletext2 {
        font-size: 10px;
    }

    .oneMonthCourse,
    .privateCourse {
        flex-direction: column;
        align-items: center;
        background-position-y: 60%;
        /* background-color: white; */
    }


    .privateCourse::before {
        top: 0;
        border-top: none;
    }

    .oneMonthCourse::before {
        border-bottom: none;
    }

    .Coursedetails {
        width: 90%;
        margin-bottom: 15vh;
    }

    .app {
        width: 55%;
    }

    .moretext {
        font-size: 15px;
        text-align: center;
    }

    .timing {
        margin-left: 7%;
    }

    .img-nav {
        height: 32vh;
    }

    .tile {
        width: 7%;
        min-width: 7%;
    }

    .tile p[spine] {
        font-size: 10px;
    }

    .lasttext {
        padding-bottom: 8%;

    }

    .cd2 {
        margin-bottom: 5%;
    }

    .app2 {
        margin-bottom: 2%;
    }

    .tile:hover {
        width: 30% !important;
    }

    .tile .img {
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
    }


}


.footer-hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #333;
}

.useful-links {

    border-bottom: 1px dotted #000;
    display: inline-block;
    font-weight: 600;

}

.opening-hours {
    text-align: center;
    font-weight: 600;

    border-bottom: 1px dotted #000;
    display: inline-block;
    /* Ensures the border is only as wide as the text */
}

.weekdays {
    text-align: center;
    padding-bottom: 0em;
    font-weight: 600;

}

.table {
    text-align: center;
    font-weight: 600;

}

/* .my-custom-style{
padding-bottom: 0em;
} */
/* td {
border: 1px solid ;
padding: 8px;
text-align: center;
width: 150px;
height: 50px;
} */

.footer-logo {
    border-radius: 45px;
    width: 55%;
    /* border: 2px solid black;
border-bottom-width: 4px;
border-right-width: 4px; */
}

.social-media-icons {
    display: flex;
    justify-content: center;
    position: relative;

    align-items: center;
    margin-top: 0%;
}

.custom-icon {
    width: 21px;
    height: 36px;
    margin: 0px 10px;
}

.map-logo {
    width: 24px;
    height: 22px;
    justify-content: center;
    align-items: center;
    margin-top: 0.4375em;
}

.reach-us {
    margin-top: 0;
    margin-bottom: 0rem;
    margin-right: 0.375em;
}

.fb-icon {
    color: #1877f2;
    /* Facebook blue color */
}

.fb-icon:hover {
    transform: scale(1.2);
    /* Scale the icon on hover (adjust as needed) */
}

.wa-icon {
    color: #25d366;
    /* WhatsApp green color */
}

.wa-icon:hover {
    transform: scale(1.2);
    /* Scale the icon on hover (adjust as needed) */
    color: #17ad4e;
}

.insta-icon {
    color: #d34da9;
    /* Instagram pink color */
}

.insta-icon:hover {
    color: #bc2a8d;
    transform: scale(1.2);
    /* Scale the icon on hover (adjust as needed) */
}

.gmap-icon:hover {
    transform: scale(1.2);
    /* Scale the icon on hover (adjust as needed) */
}

.icon-link {
    display: inline-block;
    margin: 0 10px;
    /* Adjust as needed */
    /* color: #4f4f4f; */
    font-size: 24px;
    /* Adjust as needed */
}




.back-to-top {
    /* display: none; */

    /* top: 0vh;
position: relative;
left: 136vh; */

    bottom: 30px;
    right: 20px;
    background-color: #a48a6c;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    right: 5%;
}

.back-to-top:hover {
    background-color: #92785A;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width:991px) {
    .col-lg-6 {
        text-align: center;
    }

    .back-to-top {
        bottom: 125%;
        right: 35%;
    }
}

@media (max-width:991px) and (min-width: 768px) {}

.table td {
    border-top: 1px solid #a78663;
}

.hehe {
    font-weight: 600;

}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;


    /*========== Font and typography ==========*/
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: 0.938rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 500;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    margin-top: 2em;
}

ul {
    list-style: none;
    /* Color highlighting when pressed on mobile devices */
    /* -webkit-tap-highlight-color: transparent; */
}

a {
    text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/


.header-div {
    height: 3.5em;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #eee6d3;
    background-image: linear-gradient(to right top, #664229, #7a563a, #8e6b4b, #a2805e, #b69671, #b69671, #b69671, #b69671, #a2805e, #8e6b4b, #7a563a, #664229);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
    z-index: var(--z-fixed);
}

.navi {
    height: var(--header-height);
    /* background-color: red; */
    /* width: 100%; */
}

.header .container {
    max-width: 90%;
    /* margin-inline: 1.5rem; */
    /* width: 100%; */
    /* text-align: center; */

}


.nav__logo,
.nav__burger,
.nav__close {
    color: #882424;
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: turquoise; */
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    font-weight: var(--font-semi-bold);
    /* background-color: yellow; */
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
    font-weight: initial;
    font-size: 1.25rem;
}

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
    /* background-color: green; */
}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
    opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
    .nav__menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top 0.4s, opacity 0.3s;
    }

    .nav__menu::-webkit-scrollbar {
        width: 0;
    }

    .nav__list {
        background-color: hsl(27.27deg 38.36% 45.87%);
        padding-top: 1rem;
    }

    .nav__menu ul li {
        margin: 0px !important;
    }
}

.nav__link {
    color: var(--white-color);
    background-color: var(--black-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.nav__link:hover {
    background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .nav__link {
        padding-inline: 1rem;
    }
}

/* For large devices */
@media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }

    .navi {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: 0.25rem;
    }

    .nav__link:hover {
        background-color: transparent;
    }


}

.nav__menu ul li {
    font-family: "Roboto", sans-serif;
    margin: 1.875em 0px;
}

.nav__menu ul li a {
    background-color: #eee6d3;
    background-image: linear-gradient(to right top, #b88566, #ac815a, #9e7e4f, #907a45, #80773e, #837d45, #87834c, #8a8953, #a29b69, #b9ad81, #cfc09a, #e5d3b3);
    background: transparent;
    color: black;
    transition: color 0.7s;
    font-size: 1.2em;
    font-weight: 600;

}

.nav__menu ul li a:hover {
    background-color: #cabb99;
    background: transparent;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    transform: scale(1.15);
}

/*trial underline animation(works with a problem, try if you can solve that)*/


/* .nav__menu ul li a::after{
background: none repeat scroll 0 0 transparent;
bottom: 0;
content: "";
display: block;
height: 2px;
left: 50%;
position: absolute;
background: #fff;
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;
}
.nav__menu ul li a:hover::after{
display: inline-block;
width: 100%; 
left: 0; 
} */


.nav__data a img {
    width: 100%;
    border-radius: 60px;
    cursor: pointer;
}

.mudberry_logo {
    width: 10.125em;
    height: 100%;
    /* border: 1px solid black;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */
}

.nav__logo {
    height: 80%;
}

.mudberry_logo:hover {
    transform: scale(1.01);
}


/* .nav__menu{
height: 100%;
} */

.toggle-button2{
    padding: 1.1vh 2vw;
    font-size: 2.3vw;
    border-radius: 0.8vw;

}
.toggle-button {
    padding: 1.1vh 2vw;
    font-size: 2.3vw;
    border-radius: 0.8vw;
}




.overflow-hidden {
 overflow: hidden;
}

.drop-in {
 animation: drop-in 1s ease 200ms backwards;
}

.drop-in-2 {
 animation: drop-in 1200ms ease 500ms backwards;
}
.drop-in-3 {
 animation: drop-in 3600ms ease 900ms backwards;
}

@keyframes drop-in {
 from {
  opacity: 0;
  transform: translateY(-100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}





.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    padding: 3vw;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background-color: rgba(226, 211, 201, 0.819);
    z-index: 1000;
    display: none;
    border-radius: 0.3vw;
    /* visibility: visible; */
    /* transition: 0.5s; */
    opacity: 1;
}
#popup a{
    color: black;
}
#popup a:hover{
    transform: scale(1.1);
   
}

#popup h1{
    font-size: 3vw;
}

#all.blur{
    filter: blur(5px);
    transition: filter 0.5s ease;
}

#popup.active{
    /* visibility: visible; */
    /* transition: 0.5s; */
    opacity: 1;
    filter: none;
}

#popup .pop-close{
    position: absolute;
    top: 1.4%;
    left: 93%;
    background-color: red;
    border-radius: 50%;
    transform: scale(1.1);
    cursor: pointer;
}

.map{
    margin-top: 1vw;
    display: flex;
    align-items: center;
}
.pop-item{
    display: flex;
    align-items: center;
}
#popup iframe{
    margin: 0 2vw;
    width: 30vw;
    height: 11vw;
}
.pop-item .material-symbols-outlined{
    margin: 2vw;
    background-color: beige;
    border-radius: 50%;
   padding: 0.3vw;
    transform: scale(1.8);
}

.pop-item .pop-item-text{
    font-size: 1.2vw; 
    font-weight: 600;  
}

.fa-instagram{
    padding: 0.09vw 0.2vw;
}

@media (max-width: 768px){

    #popup h1{
        font-size: 5vw;
    }
    #popup{
        width: 70vw;
    }
    #popup iframe{
        width: 60vw;
        height: 24vw;
    }
    #popup .pop-close{
        position: absolute;
        top: 1%;
        left: 92%;
        background-color: red;
        border-radius: 50%;
        transform: scale(0.8);
        cursor: pointer;
    }
    .pop-item .material-symbols-outlined{
        margin: 2vw;
        background-color: beige;
        border-radius: 50%;
        transform: scale(1.1);
    }
    .pop-item .pop-item-text{
        font-size: 2.3vw;   
    }
}


.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    pointer-events: none;
}
